@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,900;1,200;1,300;1,400;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

:root{
  --font-family-lato: 'Lato', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-nunito: 'Nunito Sans', sans-serif;
  --font-family-mont: 'Montserrat Alternates', sans-serif;
  --font-family-cabin: 'Cabin', sans-serif;
  --font-family-sans: 'Open Sans', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-carter: 'Carter One', cursive;
  --font-family-dance: 'Dancing Script', cursive
  --font-family-raleway: 'Raleway', sans-serif;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#c2c1bf10;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Raleway', sans-serif;
}